## Data Scraping and data cleaning for WORLD WIDE Data

In [93]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [94]:
url="https://www.worldometers.info/coronavirus/"

In [95]:
response=requests.get(url)
print (response)

<Response [200]>

Parsing HTML of the whole page

In [96]:
soup=BeautifulSoup(response.content, "html.parser")

Finding Title of the page

In [97]:
Title = soup.title
print(Title)

<title>Coronavirus Update (Live): 9,547,626 Cases and 485,361 Deaths from COVID-19 Virus Pandemic - Worldometer</title>

Inspecting and displaying Active cases

In [98]:
divsActiveCases=soup.find("div", class_="panel_flip")
for i in divsActiveCases.find_all("div", class_="panel_front"):
    print(i.text)

3,872,587
Currently Infected Patients


3,814,483 (98%)
in Mild Condition

58,104 (2%)
Serious or Critical


Show Graph

To find out table details

In [99]:
coronatable=soup.find_all("table")

In [100]:
len(coronatable)

3

In [101]:
co=coronatable[0]

Parse first row as Header

In [102]:
country=[] 
total_cases=[]
new_cases=[]
total_death=[]
new_death=[]
total_recovered=[]
active_cases=[]
serious_critical=[]
totCases_1Mpop=[]
deaths_1Mpop=[]
total_tests=[]
tests_1Mpop=[]
population=[]
rows=co.find_all("tr")[9:-8]
for row in rows:
    col=row.find_all("td")
     
    country.append(col[1].text.strip())
    total_cases.append(col[2].text.strip())
    new_cases.append(col[3].text.strip())
    total_death.append(col[4].text.strip())
    new_death.append(col[5].text.strip())
    total_recovered.append(col[6].text.strip())
    active_cases.append(col[7].text.strip())
    serious_critical.append(col[8].text.strip())
    totCases_1Mpop.append(col[9].text.strip())
    deaths_1Mpop.append(col[10].text.strip())
    total_tests.append(col[11].text.strip())
    tests_1Mpop.append(col[12].text.strip())
    population.append(col[13].text.strip())
print(country,
total_cases,
new_cases, 
total_death,
new_death,
total_recovered,
active_cases,
serious_critical,
totCases_1Mpop,
deaths_1Mpop,
total_tests,
tests_1Mpop,
population)

['USA', 'Brazil', 'Russia', 'India', 'UK', 'Spain', 'Peru', 'Chile', 'Italy', 'Iran', 'Mexico', 'Germany', 'Pakistan', 'Turkey', 'Saudi Arabia', 'France', 'Bangladesh', 'South Africa', 'Canada', 'Qatar', 'Colombia', 'Sweden', 'Belgium', 'Belarus', 'Egypt', 'Ecuador', 'Argentina', 'Netherlands', 'Indonesia', 'UAE', 'Singapore', 'Kuwait', 'Portugal', 'Ukraine', 'Iraq', 'Oman', 'Poland', 'Philippines', 'Switzerland', 'Afghanistan', 'Dominican Republic', 'Panama', 'Bolivia', 'Ireland', 'Romania', 'Bahrain', 'Armenia', 'Israel', 'Nigeria', 'Kazakhstan', 'Japan', 'Austria', 'Moldova', 'Ghana', 'Guatemala', 'Honduras', 'Azerbaijan', 'Serbia', 'Denmark', 'Cameroon', 'S. Korea', 'Algeria', 'Morocco', 'Czechia', 'Nepal', 'Sudan', 'Norway', 'Malaysia', 'Ivory Coast', 'Australia', 'Finland', 'Uzbekistan', 'DRC', 'Senegal', 'Tajikistan', 'North Macedonia', 'Haiti', 'El Salvador', 'Kenya', 'Guinea', 'Ethiopia', 'Gabon', 'Djibouti', 'Venezuela', 'Bulgaria', 'Luxembourg', 'Hungary', 'Kyrgyzstan', 'Bosnia and Herzegovina', 'Mauritania', 'Greece', 'Thailand', 'CAR', 'Somalia', 'French Guiana', 'Costa Rica', 'Mayotte', 'Croatia', 'Cuba', 'Maldives', 'Nicaragua', 'Albania', 'Mali', 'Sri Lanka', 'Estonia', 'South Sudan', 'Iceland', 'Lithuania', 'Madagascar', 'Equatorial Guinea', 'Lebanon', 'Slovakia', 'Guinea-Bissau', 'Slovenia', 'Paraguay', 'New Zealand', 'Zambia', 'Palestine', 'Sierra Leone', 'Hong Kong', 'Tunisia', 'Latvia', 'Congo', 'Jordan', 'Niger', 'Yemen', 'Cabo Verde', 'Cyprus', 'Malawi', 'Burkina Faso', 'Georgia', 'Uruguay', 'Benin', 'Chad', 'Andorra', 'Rwanda', 'Uganda', 'Mozambique', 'Diamond Princess', 'Sao Tome and Principe', 'San Marino', 'Eswatini', 'Jamaica', 'Libya', 'Malta', 'Liberia', 'Togo', 'Channel Islands', 'Zimbabwe', 'Tanzania', 'Réunion', 'Taiwan', 'Montenegro', 'Suriname', 'Vietnam', 'Mauritius', 'Isle of Man', 'Myanmar', 'Comoros', 'Syria', 'Martinique', 'Mongolia', 'Guyana', 'Angola', 'Cayman Islands', 'Faeroe Islands', 'Gibraltar', 'Guadeloupe', 'Bermuda', 'Burundi', 'Eritrea', 'Brunei', 'Cambodia', 'Trinidad and Tobago', 'Bahamas', 'Monaco', 'Aruba', 'Barbados', 'Botswana', 'Liechtenstein', 'Sint Maarten', 'Namibia', 'Bhutan', 'Antigua and Barbuda', 'French Polynesia', 'Macao', 'Saint Martin', 'Gambia', 'St. Vincent Grenadines', 'Timor-Leste', 'Belize', 'Curaçao', 'Grenada', 'New Caledonia', 'Laos', 'Saint Lucia', 'Dominica', 'Fiji', 'Lesotho', 'Turks and Caicos', 'Saint Kitts and Nevis', 'Falkland Islands', 'Greenland', 'Vatican City', 'Montserrat', 'Seychelles', 'Western Sahara', 'Papua New Guinea', 'MS Zaandam', 'British Virgin Islands', 'Caribbean Netherlands', 'St. Barth', 'Anguilla', 'Saint Pierre Miquelon', 'China'] ['2,462,713', '1,192,474', '613,994', '474,272', '306,862', '294,166', '264,689', '254,416', '239,410', '212,501', '196,847', '193,254', '192,970', '191,657', '167,267', '161,348', '126,606', '111,796', '102,242', '90,778', '77,113', '62,324', '60,898', '59,945', '59,561', '51,643', '49,851', '49,804', '49,009', '46,133', '42,736', '41,879', '40,104', '40,008', '36,702', '33,536', '33,119', '32,295', '31,376', '30,175', '28,631', '28,030', '27,487', '25,396', '24,826', '23,570', '22,488', '22,139', '22,020', '19,285', '18,024', '17,477', '15,078', '15,013', '14,819', '14,571', '14,305', '13,235', '12,615', '12,592', '12,563', '12,248', '10,907', '10,780', '10,728', '8,889', '8,788', '8,596', '8,164', '7,558', '7,167', '6,990', '6,213', '6,129', '5,630', '5,445', '5,429', '5,336', '5,206', '5,174', '5,034', '4,956', '4,630', '4,366', '4,242', '4,140', '4,123', '3,954', '3,676', '3,519', '3,310', '3,158', '3,099', '2,835', '2,827', '2,515', '2,467', '2,388', '2,319', '2,261', '2,170', '2,114', '2,005', '2,001', '1,984', '1,942', '1,824', '1,806', '1,787', '1,664', '1,644', '1,630', '1,556', '1,547', '1,528', '1,519', '1,489', '1,362', '1,354', '1,180', '1,160', '1,111', '1,087', '1,071', '1,051', '1,015', '999', '991', '941', '919', '917', '902', '902', '860', '855', '830', '805', '762', '712', '710', '698', '690', '678', '670', '665', '662', '583', '571', '530', '509', '508', '447', '389', '357', '352', '341', '336', '293', '265', '242', '236', '216', '209', '197', '196', '187', '176', '174', '146', '144', '144', '141', '130', '123', '104', '102', '101', '97', '92', '82', '77', '76', '70', '65', '60', '45', '42', '42', '29', '24', '23', '23', '23', '21', '19', '19', '18', '18', '17', '15', '15', '13', '13', '12', '11', '11', '10', '10', '9', '8', '7', '6', '3', '1', '83,449'] ['+159', '', '+7,113', '+1,287', '', '', '', '', '', '', '+5,437', '', '+4,044', '', '', '', '+3,946', '', '', '', '', '', '', '', '', '', '', '', '', '', '+113', '', '', '+994', '', '', '+298', '', '', '+535', '', '', '+1,098', '', '', '', '+771', '+95', '', '+520', '', '+28', '', '', '+279', '+628', '', '', '', '', '+28', '', '', '+3', '', '', '', '', '', '+37', '', '+89', '', '', '', '', '+105', '+186', '', '', '', '', '', '', '', '', '+9', '+228', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '+2', '', '', '', '+23', '', '+6', '', '+3', '', '+34', '', '', '', '', '', '', '', '', '', '', '', '', '+3', '', '', '', '', '', '', '', '', '', '', '', '+8', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '+11', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+19'] ['124,282', '53,874', '8,605', '14,914', '43,081', '28,327', '8,586', '4,731', '34,644', '9,996', '24,324', '9,003', '3,903', '5,025', '1,387', '29,731', '1,621', '2,205', '8,484', '104', '2,491', '5,209', '9,722', '362', '2,450', '4,274', '1,116', '6,097', '2,573', '307', '26', '337', '1,543', '1,067', '1,330', '142', '1,412', '1,204', '1,958', '675', '691', '547', '876', '1,726', '1,555', '69', '397', '308', '542', '136', '963', '698', '502', '95', '601', '417', '174', '263', '603', '313', '282', '869', '216', '344', '24', '548', '249', '121', '58', '104', '327', '19', '142', '93', '52', '259', '92', '126', '130', '29', '78', '39', '52', '38', '209', '110', '577', '43', '173', '116', '190', '58', '38', '90', '9', '12', '32', '107', '85', '8', '74', '47', '112', '11', '69', '36', '10', '78', '16', '32', '33', '28', '19', '109', '13', '22', '18', '3', '55', '6', '50', '30', '37', '9', '67', '274', '8', '19', '11', '53', '14', '26', '13', '74', '52', '2', '', '5', '13', '13', '42', '7', '10', '18', '9', '34', '14', '47', '6', '21', '1', '7', '9', '10', '', '10', '24', '6', '7', '7', '14', '', '12', '10', '1', '', '', '14', '9', '1', '', '3', '', '8', '11', '4', '3', '7', '1', '1', '15', '', '', '3', '', '', '3', '2', '', '', '2', '1', '', '', '', '', '', '', '', '1', '', '', '', '', '1', '', '1', '', '2', '1', '', '', '', '', '4,634'] ['+1', '', '+92', '+7', '', '', '', '', '', '', '+947', '', '+148', '', '', '', '+39', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+16', '', '', '+16', '', '', '+36', '', '', '+30', '', '', '', '+11', '', '', '', '', '+5', '+7', '', '+19', '+12', '', '', '', '', '+1', '', '', '+1', '', '', '', '', '', '+1', '', '', '', '', '', '', '+3', '+7', '', '', '', '', '', '', '', '', '+1', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''] ['1,040,608', '649,908', '375,164', '271,934', 'N/A', 'N/A', '151,589', '215,093', '186,111', '172,096', '149,318', '176,300', '81,307', '164,234', '112,797', '75,127', '51,495', '56,874', '65,091', '73,083', '31,671', 'N/A', '16,771', '40,136', '15,935', '24,991', '13,816', 'N/A', '19,658', '34,405', '36,299', '32,809', '26,083', '17,758', '16,814', '17,972', '18,654', '8,656', '29,000', '10,174', '16,006', '14,794', '6,795', '23,364', '17,391', '17,977', '11,335', '15,961', '7,613', '11,882', '16,263', '16,320', '8,599', '11,078', '2,930', '1,546', '7,768', '12,111', '11,422', '10,100', '10,974', '8,792', '8,468', '7,592', '2,338', '3,699', '8,138', '8,231', '3,419', '6,931', '6,600', '4,685', '870', '4,072', '4,194', '2,091', '512', '3,116', '1,823', '3,861', '1,486', '2,177', '4,182', '1,327', '2,263', '3,965', '2,640', '2,112', '2,297', '1,074', '1,374', '3,038', '572', '829', '1,056', '1,210', '2,218', '2,145', '2,130', '1,839', '1,238', '1,217', '1,354', '1,602', '1,790', '224', '1,806', '1,494', '779', '515', '1,103', '1,452', '191', '1,376', '944', '1,484', '1,223', '442', '869', '1,086', '1,023', '903', '456', '782', '913', '379', '479', '824', '259', '825', '776', '815', '277', '770', '797', '376', '717', '220', '651', '211', '647', '331', '521', '138', '624', '270', '392', '512', '123', '183', '460', '435', '315', '154', '329', '326', '312', '208', '159', '96', '98', '169', '107', '77', '169', '187', '176', '157', '132', '93', '39', '138', '127', '109', '83', '95', '98', '85', '25', '81', '62', '21', '34', '22', '60', '45', '36', '26', '27', '24', '17', '19', '23', '21', '19', '19', '18', '18', '2', '11', '15', '13', '13', '12', '10', '11', '8', '8', '', '7', '7', '6', '3', '1', '78,443'] ['+3', '', '+6,342', '+246', 'N/A', 'N/A', '', '', '', '', '+4,870', '', '+3,553', '', '', '', '+1,829', '', '', '', '', 'N/A', '', '', '', '', '', 'N/A', '', '', '', '', '', '+349', '', '', '+520', '', '', '+305', '', '', '+495', '', '', '', '+538', '+21', '', '', '', '+38', '+199', '', '+33', '+85', '', '', '', '', '+44', '', '', '+4', '', '', '', '', '', '+16', '', '', '', '', '', '', '+76', '+192', '', '', '', '', '', '', '', '', '+22', '+30', '', '', '', '+12', '', '', '', '', '', '', '', '', '', '', '', '+40', '+7', '', '', '+10', '', '', '', '+4', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+5', '', '', '', '', '', '', '', '', '', '', '', '+3', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+2', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+15'] ['1,297,823', '488,692', '230,225', '187,424', 'N/A', 'N/A', '104,514', '34,592', '18,655', '30,409', '23,205', '7,951', '107,760', '22,398', '53,083', '56,490', '73,490', '52,717', '28,667', '17,591', '42,951', 'N/A', '34,405', '19,447', '41,176', '22,378', '34,919', 'N/A', '26,778', '11,421', '6,411', '8,733', '12,478', '21,183', '18,558', '15,422', '13,053', '22,435', '418', '19,326', '11,934', '12,689', '19,816', '306', '5,880', '5,524', '10,756', '5,870', '13,865', '7,267', '798', '459', '5,977', '3,840', '11,288', '12,608', '6,363', '861', '590', '2,179', '1,307', '2,587', '2,223', '2,844', '8,366', '4,642', '401', '244', '4,687', '523', '240', '2,286', '5,201', '1,964', '1,384', '3,095', '4,825', '2,094', '3,253', '1,284', '3,470', '2,740', '396', '3,001', '1,770', '65', '906', '1,799', '1,206', '2,329', '1,746', '62', '2,489', '1,916', '1,762', '1,293', '217', '136', '104', '414', '858', '850', '539', '388', '125', '1,682', '8', '234', '992', '1,117', '508', '150', '1,346', '62', '571', '13', '248', '917', '430', '88', '87', '178', '594', '280', '71', '362', '512', '148', '671', '41', '127', '61', '612', '16', '6', '452', '88', '537', '48', '486', '9', '352', '147', '514', '32', '358', '177', '12', '401', '305', '47', '5', '65', '193', '23', '5', '0', '79', '99', '139', '124', '47', '90', '110', '26', '0', '0', '3', '5', '50', '105', '0', '3', '6', '10', '3', '0', '5', '66', '0', '0', '55', '36', '40', '0', '0', '3', '14', '2', '0', '4', '3', '0', '0', '0', '0', '0', '0', '15', '3', '0', '0', '0', '0', '0', '0', '1', '2', '7', '0', '0', '0', '0', '0', '372'] ['16,541', '8,318', '2,300', '8,944', '311', '617', '1,166', '2,046', '107', '2,869', '378', '331', '3,003', '914', '2,129', '658', '1', '539', '2,058', '219', '335', '193', '41', '89', '41', '273', '353', '48', '', '1', '1', '153', '73', '372', '222', '100', '74', '82', '12', '19', '182', '130', '71', '9', '186', '37', '10', '49', '7', '121', '60', '11', '455', '6', '5', '13', '66', '21', '8', '52', '15', '45', '7', '9', '', '', '6', '2', '', '2', '2', '19', '', '24', '', '55', '', '138', '7', '24', '38', '12', '', '6', '16', '1', '13', '30', '4', '20', '8', '1', '2', '2', '15', '5', '8', '', '1', '9', '', '11', '', '1', '1', '1', '', '16', '8', '', '9', '', '5', '2', '1', '', '1', '', '', '1', '', '1', '', '3', '', '', '', '', '4', '', '5', '2', '2', '', '1', '', '', '', '4', '', '', '5', '', '', '', '', '2', '', '', '7', '2', '', '', '2', '1', '', '', '', '', '', '', '6', '1', '1', '', '', '', '', '2', '', '', '', '1', '', '1', '', '', '1', '1', '', '', '1', '', '1', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '13'] ['7,441', '5,611', '4,207', '344', '4,521', '6,292', '8,030', '13,311', '3,960', '2,531', '1,527', '2,307', '874', '2,273', '4,806', '2,472', '769', '1,885', '2,709', '32,331', '1,516', '6,172', '5,255', '6,344', '582', '2,928', '1,103', '2,907', '179', '4,666', '7,306', '9,809', '3,933', '915', '913', '6,572', '875', '295', '3,626', '776', '2,640', '6,499', '2,355', '5,144', '1,290', '13,867', '7,589', '2,407', '107', '1,027', '143', '1,941', '3,738', '483', '828', '1,472', '1,411', '1,515', '2,178', '475', '245', '279', '296', '1,007', '368', '203', '1,621', '266', '310', '296', '1,294', '209', '69', '366', '591', '2,614', '476', '823', '97', '394', '44', '2,228', '4,688', '154', '610', '6,616', '427', '606', '1,120', '757', '318', '45', '642', '179', '9,472', '494', '9,048', '582', '205', '4,184', '328', '735', '99', '93', '1,496', '174', '5,346', '663', '65', '1,187', '241', '299', '791', '744', '214', '304', '81', '267', '170', '157', '98', '589', '197', '105', '43', '34', '1,797', '821', '49', '44', '230', '260', '74', '52', '11,066', '64', '18', '24', '', '3,241', '20,572', '595', '229', '98', '1,506', '131', '70', '3,285', '36', '9', '567', '19', '619', '609', '4', '268', '3,952', '5', '305', '14', '629', '66', '266', '6', '2,983', '3,827', '5,224', '435', '2,344', '12', '41', '322', '8', '88', '265', '2,600', '946', '338', '39', '2,151', '1,796', '30', '91', '664', '214', '69', '1,087', '17', '261', '18', '58', '140', '204', '74', '3', '103', '250', '20', '8', '388', '282', '3,739', '229', '14,981', '2,204', '112', '17', '1', '', '265', '267', '607', '200', '173', '58'] ['376', '253', '59', '11', '635', '606', '260', '248', '573', '119', '189', '107', '18', '60', '40', '455', '10', '37', '225', '37', '49', '516', '839', '38', '24', '242', '25', '356', '9', '31', '4', '79', '151', '24', '33', '28', '37', '11', '226', '17', '64', '127', '75', '350', '81', '41', '134', '33', '3', '7', '8', '78', '124', '3', '34', '42', '17', '30', '104', '12', '6', '20', '6', '32', '0.8', '13', '46', '4', '2', '4', '59', '0.6', '2', '6', '5', '124', '8', '19', '2', '2', '0.7', '18', '53', '1', '30', '176', '60', '7', '53', '25', '18', '0.8', '8', '6', '30', '2', '117', '26', '8', '15', '11', '16', '6', '0.5', '52', '3', '29', '29', '0.6', '23', '5', '5', '10', '52', '2', '4', '1.0', '0.6', '7', '0.8', '4', '16', '7', '0.9', '3', '9', '14', '16', '0.6', '3', '4', '7', '1', '5', '673', '0.2', '', '0.2', '', '59', '1,238', '6', '3', '3', '20', '7', '2', '270', '0.4', '0.4', '1', '0.3', '14', '17', '', '8', '282', '0.1', '8', '0.4', '37', '', '15', '0.3', '15', '', '', '35', '145', '0.08', '', '7', '', '6', '28', '102', '28', '24', '0.4', '26', '350', '', '', '31', '', '', '78', '0.8', '', '', '5', '6', '', '', '', '', '', '', '', '26', '', '', '', '', '200', '', '2', '', '', '33', '', '', '', '', '3'] ['30,062,259', '2,751,953', '18,115,830', '7,560,782', '8,542,186', '5,162,909', '1,561,653', '1,007,635', '5,107,093', '1,502,525', '515,658', '5,412,655', '1,171,976', '3,083,121', '1,407,508', '1,384,633', '681,443', '1,416,894', '2,518,650', '333,172', '651,592', '444,607', '1,145,258', '901,904', '135,000', '140,705', '300,345', '561,863', '689,452', '3,038,000', '684,359', '365,224', '1,102,066', '606,766', '455,316', '169,105', '1,399,647', '631,063', '523,909', '68,626', '133,718', '111,735', '64,946', '408,344', '651,003', '502,763', '102,736', '886,058', '120,108', '1,424,647', '429,481', '584,243', '63,328', '280,116', '31,427', '21,540', '441,961', '359,069', '960,076', '', '1,220,478', '', '591,757', '532,987', '476,890', '401', '313,162', '704,336', '48,340', '2,227,559', '235,500', '1,038,575', '', '72,112', '', '54,456', '10,825', '150,252', '151,396', '14,407', '227,375', '32,151', '45,560', '1,164,315', '125,518', '156,089', '265,129', '199,853', '84,958', '13,842', '295,639', '468,175', '22,267', '', '8,061', '36,765', '8,800', '73,738', '157,387', '42,830', '', '21,437', '10,932', '97,402', '104,299', '10,226', '70,072', '406,557', '19,392', '16,000', '120,315', '204,847', '1,500', '97,967', '60,811', '368,432', '51,626', '77,631', '', '301,108', '68,104', '142,794', '', '348,679', '6,436', '120', '1,560', '150,871', '11,536', '', '90,434', '60,318', '54,653', '', '3,750', '121,527', '170,789', '25,446', '', '1,743', '5,631', '6,551', '22,261', '23,075', '90,544', '', '28,687', '10,255', '64,520', '', '17,200', '75,815', '13,186', '1,165', '275,000', '171,792', '6,158', '66,353', '', '', '', '21,308', '2,168', '10,000', '21,733', '12,438', '11,618', '6,900', '10,414', '382', '', '27,385', '33,211', '4,396', '2,360', '16,200', '2,284', '7,530', '36,868', '900', '477', '7,740', '23,857', '680', '4,578', '', '685', '2,035', '763', '1,568', '2,043', '1,080', '4,130', '8,260', '13,507', '1,619', '623', '4,000', '3,000', '444', '447', '1,027', '3,203', '', '61', '', '', '5,281', '', '212', '424', '152', '93', '', ''] ['90,831', '12,948', '124,137', '5,480', '125,842', '110,426', '47,377', '52,719', '84,466', '17,893', '4,000', '64,606', '5,308', '36,564', '40,443', '21,213', '4,139', '23,896', '66,744', '118,659', '12,808', '44,028', '98,824', '95,446', '1,320', '7,978', '6,647', '32,792', '2,521', '307,240', '116,994', '85,548', '108,077', '13,873', '11,326', '33,137', '36,982', '5,760', '60,543', '1,764', '12,329', '25,905', '5,565', '82,716', '33,838', '295,799', '34,671', '96,336', '583', '75,891', '3,396', '64,876', '15,698', '9,019', '1,755', '2,175', '43,597', '41,094', '165,762', '', '23,806', '', '16,036', '49,771', '16,374', '9', '57,774', '21,767', '1,834', '87,375', '42,504', '31,040', '', '4,310', '', '26,138', '950', '23,167', '2,817', '1,098', '1,979', '14,454', '46,127', '40,944', '18,063', '249,441', '27,444', '30,644', '25,894', '2,979', '28,362', '6,708', '4,612', '', '27,008', '7,218', '32,277', '17,961', '13,895', '79,267', '', '7,449', '540', '4,549', '78,626', '914', '205,366', '149,329', '701', '11,416', '17,627', '37,520', '763', '47,124', '8,528', '73,655', '2,810', '15,227', '', '40,170', '5,764', '75,698', '', '34,180', '266', '4', '2,806', '124,975', '603', '', '22,669', '17,365', '4,511', '', '48,536', '9,389', '3,737', '815', '', '7,957', '165,959', '5,648', '7,518', '3,359', '205,071', '', '3,467', '58,993', '4,342', '', '19,214', '3,183', '20,995', '1,986', '2,826', '135,084', '72,425', '1,220', '', '', '', '6,502', '2,757', '305', '330,756', '254,564', '344,840', '17,245', '167,210', '32', '', '62,608', '1,987', '3,141', '6,002', '412,876', '21,394', '26,203', '15,685', '23,606', '11,127', '3,047', '30,925', '6,945', '16,299', '', '17,723', '843', '6,878', '1,190', '5,140', '6,582', '36,706', '28,937', '1,857', '8,817', '8,655', '4,463', '1,401', '11,471', '8,403', '295,370', '56,422', '', '12,220', '', '', '591', '', '7,013', '16,171', '15,389', '6,200', ''

Create a Dataframe

In [103]:
df = pd.DataFrame(list(zip(country,
total_cases,
new_cases, 
total_death,
new_death,
total_recovered,
active_cases,
serious_critical,
totCases_1Mpop,
deaths_1Mpop,
total_tests,
tests_1Mpop,
population)), columns=["Country","Total Cases","New Cases","Total Deaths","New Deaths","Total Recovered","Active Cases",
                       "Serious,Critical","Total Cases/1Mpop","Deaths/1Mpop","Total Tests","Tests/1Mpop","Population"])
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious,Critical",Total Cases/1Mpop,Deaths/1Mpop,Total Tests,Tests/1Mpop,Population
0,USA,"2,462,713",+159,"124,282",+1,"1,040,608",+3,"1,297,823","16,541","7,441",376,"30,062,259","90,831"
1,Brazil,"1,192,474",,"53,874",,"649,908",,"488,692","8,318","5,611",253,"2,751,953","12,948"
2,Russia,"613,994","+7,113","8,605",+92,"375,164","+6,342","230,225","2,300","4,207",59,"18,115,830","124,137"
3,India,"474,272","+1,287","14,914",+7,"271,934",+246,"187,424","8,944",344,11,"7,560,782","5,480"
4,UK,"306,862",,"43,081",,N/A,N/A,N/A,311,"4,521",635,"8,542,186","125,842"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Caribbean Netherlands,7,,,,7,,0,,267,,424,"16,171"
211,St. Barth,6,,,,6,,0,,607,,152,"15,389"
212,Anguilla,3,,,,3,,0,,200,,93,"6,200"
213,Saint Pierre Miquelon,1,,,,1,,0,,173,,,
214,China,"83,449",+19,"4,634",,"78,443",+15,372,13,58,3,,

Dropping below columns as it serves no purpose in analysis
Serious,Critical,
Total Cases/1Mpop,
Deaths/1Mpop,
Tests/1Mpop

In [104]:
df.drop(["Serious,Critical","Total Cases/1Mpop","Deaths/1Mpop","Tests/1Mpop"],axis=1, inplace = True) 
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Total Tests,Population
0,USA,"2,462,713",+159,"124,282",+1,"1,040,608",+3,376,"90,831"
1,Brazil,"1,192,474",,"53,874",,"649,908",,253,"12,948"
2,Russia,"613,994","+7,113","8,605",+92,"375,164","+6,342",59,"124,137"
3,India,"474,272","+1,287","14,914",+7,"271,934",+246,11,"5,480"
4,UK,"306,862",,"43,081",,N/A,N/A,635,"125,842"
...,...,...,...,...,...,...,...,...,...
210,Caribbean Netherlands,7,,,,7,,,"16,171"
211,St. Barth,6,,,,6,,,"15,389"
212,Anguilla,3,,,,3,,,"6,200"
213,Saint Pierre Miquelon,1,,,,1,,,
214,China,"83,449",+19,"4,634",,"78,443",+15,3,

Replacing unexpected missing values that is N/A in the dataframe

In [105]:
df.loc[df['Total Recovered'] == 'N/A', 'Total Recovered'] = 0
df.loc[df['Active Cases'] == 'N/A', 'Active Cases'] = 0

df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Total Tests,Population
0,USA,"2,462,713",+159,"124,282",+1,"1,040,608",+3,376,"90,831"
1,Brazil,"1,192,474",,"53,874",,"649,908",,253,"12,948"
2,Russia,"613,994","+7,113","8,605",+92,"375,164","+6,342",59,"124,137"
3,India,"474,272","+1,287","14,914",+7,"271,934",+246,11,"5,480"
4,UK,"306,862",,"43,081",,0,0,635,"125,842"
...,...,...,...,...,...,...,...,...,...
210,Caribbean Netherlands,7,,,,7,,,"16,171"
211,St. Barth,6,,,,6,,,"15,389"
212,Anguilla,3,,,,3,,,"6,200"
213,Saint Pierre Miquelon,1,,,,1,,,
214,China,"83,449",+19,"4,634",,"78,443",+15,3,

In [106]:
df.dtypes

Country            object
Total Cases        object
New Cases          object
Total Deaths       object
New Deaths         object
Total Recovered    object
Active Cases       object
Total Tests        object
Population         object
dtype: object

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          215 non-null    object
 1   Total Cases      215 non-null    object
 2   New Cases        215 non-null    object
 3   Total Deaths     215 non-null    object
 4   New Deaths       215 non-null    object
 5   Total Recovered  215 non-null    object
 6   Active Cases     215 non-null    object
 7   Total Tests      215 non-null    object
 8   Population       215 non-null    object
dtypes: object(9)
memory usage: 15.2+ KB

In [108]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df.replace(np.nan,0, inplace=True)

df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Total Tests,Population
0,USA,"2,462,713",+159,"124,282",+1,"1,040,608",+3,376,"90,831"
1,Brazil,"1,192,474",0,"53,874",0,"649,908",0,253,"12,948"
2,Russia,"613,994","+7,113","8,605",+92,"375,164","+6,342",59,"124,137"
3,India,"474,272","+1,287","14,914",+7,"271,934",+246,11,"5,480"
4,UK,"306,862",0,"43,081",0,0,0,635,"125,842"
...,...,...,...,...,...,...,...,...,...
210,Caribbean Netherlands,7,0,0,0,7,0,0,"16,171"
211,St. Barth,6,0,0,0,6,0,0,"15,389"
212,Anguilla,3,0,0,0,3,0,0,"6,200"
213,Saint Pierre Miquelon,1,0,0,0,1,0,0,0
214,China,"83,449",+19,"4,634",0,"78,443",+15,3,0

Cleaning data for columns New Cases and Total Cases

In [109]:
new_cases1=[]
for i in df["New Cases"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    new_cases1.append(s3)
    
print(new_cases1)

total_cases1=[]
for i in df["Total Cases"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_cases1.append(s2)

print(total_cases1)

[159, 0, 7113, 1287, 0, 0, 0, 0, 0, 0, 5437, 0, 4044, 0, 0, 0, 3946, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 113, 0, 0, 994, 0, 0, 298, 0, 0, 535, 0, 0, 1098, 0, 0, 0, 771, 95, 0, 520, 0, 28, 0, 0, 279, 628, 0, 0, 0, 0, 28, 0, 0, 3, 0, 0, 0, 0, 0, 37, 0, 89, 0, 0, 0, 0, 105, 186, 0, 0, 0, 0, 0, 0, 0, 0, 9, 228, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 23, 0, 6, 0, 3, 0, 34, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 11, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 19]
[2462713, 1192474, 613994, 474272, 306862, 294166, 264689, 254416, 239410, 212501, 196847, 193254, 192970, 191657, 167267, 161348, 126606, 111796, 102242, 90778, 77113, 62324, 60898, 59945, 59561, 51643, 49851, 49804, 49009, 46133, 42736, 41879, 40104, 40008, 36702, 33536, 33119, 32295, 31376, 30175, 28631, 28030, 27487, 25396, 24826, 23570, 22488, 22139, 22020, 19285, 18024, 17477, 15078, 15013, 14819, 14571, 14305, 13235, 12615, 12592, 12563, 12248, 10907, 10780, 10728, 8889, 8788, 8596, 8164, 7558, 7167, 6990, 6213, 6129, 5630, 5445, 5429, 5336, 5206, 5174, 5034, 4956, 4630, 4366, 4242, 4140, 4123, 3954, 3676, 3519, 3310, 3158, 3099, 2835, 2827, 2515, 2467, 2388, 2319, 2261, 2170, 2114, 2005, 2001, 1984, 1942, 1824, 1806, 1787, 1664, 1644, 1630, 1556, 1547, 1528, 1519, 1489, 1362, 1354, 1180, 1160, 1111, 1087, 1071, 1051, 1015, 999, 991, 941, 919, 917, 902, 902, 860, 855, 830, 805, 762, 712, 710, 698, 690, 678, 670, 665, 662, 583, 571, 530, 509, 508, 447, 389, 357, 352, 341, 336, 293, 265, 242, 236, 216, 209, 197, 196, 187, 176, 174, 146, 144, 144, 141, 130, 123, 104, 102, 101, 97, 92, 82, 77, 76, 70, 65, 60, 45, 42, 42, 29, 24, 23, 23, 23, 21, 19, 19, 18, 18, 17, 15, 15, 13, 13, 12, 11, 11, 10, 10, 9, 8, 7, 6, 3, 1, 83449]

Cleaning data from Total Deaths and New deaths

In [110]:
total_death1=[]
for i in df["Total Deaths"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_death1.append(s2)

print(total_death1)

new_death1=[]
for i in df["New Deaths"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    new_death1.append(s3)
print(new_death1)

[124282, 53874, 8605, 14914, 43081, 28327, 8586, 4731, 34644, 9996, 24324, 9003, 3903, 5025, 1387, 29731, 1621, 2205, 8484, 104, 2491, 5209, 9722, 362, 2450, 4274, 1116, 6097, 2573, 307, 26, 337, 1543, 1067, 1330, 142, 1412, 1204, 1958, 675, 691, 547, 876, 1726, 1555, 69, 397, 308, 542, 136, 963, 698, 502, 95, 601, 417, 174, 263, 603, 313, 282, 869, 216, 344, 24, 548, 249, 121, 58, 104, 327, 19, 142, 93, 52, 259, 92, 126, 130, 29, 78, 39, 52, 38, 209, 110, 577, 43, 173, 116, 190, 58, 38, 90, 9, 12, 32, 107, 85, 8, 74, 47, 112, 11, 69, 36, 10, 78, 16, 32, 33, 28, 19, 109, 13, 22, 18, 3, 55, 6, 50, 30, 37, 9, 67, 274, 8, 19, 11, 53, 14, 26, 13, 74, 52, 2, 0, 5, 13, 13, 42, 7, 10, 18, 9, 34, 14, 47, 6, 21, 1, 7, 9, 10, 0, 10, 24, 6, 7, 7, 14, 0, 12, 10, 1, 0, 0, 14, 9, 1, 0, 3, 0, 8, 11, 4, 3, 7, 1, 1, 15, 0, 0, 3, 0, 0, 3, 2, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 2, 1, 0, 0, 0, 0, 4634]
[1, 0, 92, 7, 0, 0, 0, 0, 0, 0, 947, 0, 148, 0, 0, 0, 39, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16, 0, 0, 16, 0, 0, 36, 0, 0, 30, 0, 0, 0, 11, 0, 0, 0, 0, 5, 7, 0, 19, 12, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 7, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Cleaning data for Total Recovered and active cases

In [111]:
total_recovered1=[]
for i in df["Total Recovered"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    total_recovered1.append(s3)

print(total_recovered1)

active_cases1=[]
for i in df["Active Cases"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    active_cases1.append(s3)
print(active_cases1)

[1040608, 649908, 375164, 271934, 0, 0, 151589, 215093, 186111, 172096, 149318, 176300, 81307, 164234, 112797, 75127, 51495, 56874, 65091, 73083, 31671, 0, 16771, 40136, 15935, 24991, 13816, 0, 19658, 34405, 36299, 32809, 26083, 17758, 16814, 17972, 18654, 8656, 29000, 10174, 16006, 14794, 6795, 23364, 17391, 17977, 11335, 15961, 7613, 11882, 16263, 16320, 8599, 11078, 2930, 1546, 7768, 12111, 11422, 10100, 10974, 8792, 8468, 7592, 2338, 3699, 8138, 8231, 3419, 6931, 6600, 4685, 870, 4072, 4194, 2091, 512, 3116, 1823, 3861, 1486, 2177, 4182, 1327, 2263, 3965, 2640, 2112, 2297, 1074, 1374, 3038, 572, 829, 1056, 1210, 2218, 2145, 2130, 1839, 1238, 1217, 1354, 1602, 1790, 224, 1806, 1494, 779, 515, 1103, 1452, 191, 1376, 944, 1484, 1223, 442, 869, 1086, 1023, 903, 456, 782, 913, 379, 479, 824, 259, 825, 776, 815, 277, 770, 797, 376, 717, 220, 651, 211, 647, 331, 521, 138, 624, 270, 392, 512, 123, 183, 460, 435, 315, 154, 329, 326, 312, 208, 159, 96, 98, 169, 107, 77, 169, 187, 176, 157, 132, 93, 39, 138, 127, 109, 83, 95, 98, 85, 25, 81, 62, 21, 34, 22, 60, 45, 36, 26, 27, 24, 17, 19, 23, 21, 19, 19, 18, 18, 2, 11, 15, 13, 13, 12, 10, 11, 8, 8, 0, 7, 7, 6, 3, 1, 78443]
[3, 0, 6342, 246, 0, 0, 0, 0, 0, 0, 4870, 0, 3553, 0, 0, 0, 1829, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 349, 0, 0, 520, 0, 0, 305, 0, 0, 495, 0, 0, 0, 538, 21, 0, 0, 0, 38, 199, 0, 33, 85, 0, 0, 0, 0, 44, 0, 0, 4, 0, 0, 0, 0, 0, 16, 0, 0, 0, 0, 0, 0, 76, 192, 0, 0, 0, 0, 0, 0, 0, 0, 22, 30, 0, 0, 0, 12, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 40, 7, 0, 0, 10, 0, 0, 0, 4, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15]

Cleaning data for total_tests and population
In Total Tests few of the values were unexpected missing data s float while all the other values are int, so we have converted all the float values to integer

In [114]:
total_tests1=[]
for i in df["Total Tests"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=float(s2)
    s4=int(s3)
    total_tests1.append(s4)
print(total_tests1)

population1=[]
for i in df["Population"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    population1.append(s3)
print(population1)

[376, 253, 59, 11, 635, 606, 260, 248, 573, 119, 189, 107, 18, 60, 40, 455, 10, 37, 225, 37, 49, 516, 839, 38, 24, 242, 25, 356, 9, 31, 4, 79, 151, 24, 33, 28, 37, 11, 226, 17, 64, 127, 75, 350, 81, 41, 134, 33, 3, 7, 8, 78, 124, 3, 34, 42, 17, 30, 104, 12, 6, 20, 6, 32, 0, 13, 46, 4, 2, 4, 59, 0, 2, 6, 5, 124, 8, 19, 2, 2, 0, 18, 53, 1, 30, 176, 60, 7, 53, 25, 18, 0, 8, 6, 30, 2, 117, 26, 8, 15, 11, 16, 6, 0, 52, 3, 29, 29, 0, 23, 5, 5, 10, 52, 2, 4, 1, 0, 7, 0, 4, 16, 7, 0, 3, 9, 14, 16, 0, 3, 4, 7, 1, 5, 673, 0, 0, 0, 0, 59, 1238, 6, 3, 3, 20, 7, 2, 270, 0, 0, 1, 0, 14, 17, 0, 8, 282, 0, 8, 0, 37, 0, 15, 0, 15, 0, 0, 35, 145, 0, 0, 7, 0, 6, 28, 102, 28, 24, 0, 26, 350, 0, 0, 31, 0, 0, 78, 0, 0, 0, 5, 6, 0, 0, 0, 0, 0, 0, 0, 26, 0, 0, 0, 0, 200, 0, 2, 0, 0, 33, 0, 0, 0, 0, 3]
[90831, 12948, 124137, 5480, 125842, 110426, 47377, 52719, 84466, 17893, 4000, 64606, 5308, 36564, 40443, 21213, 4139, 23896, 66744, 118659, 12808, 44028, 98824, 95446, 1320, 7978, 6647, 32792, 2521, 307240, 116994, 85548, 108077, 13873, 11326, 33137, 36982, 5760, 60543, 1764, 12329, 25905, 5565, 82716, 33838, 295799, 34671, 96336, 583, 75891, 3396, 64876, 15698, 9019, 1755, 2175, 43597, 41094, 165762, 0, 23806, 0, 16036, 49771, 16374, 9, 57774, 21767, 1834, 87375, 42504, 31040, 0, 4310, 0, 26138, 950, 23167, 2817, 1098, 1979, 14454, 46127, 40944, 18063, 249441, 27444, 30644, 25894, 2979, 28362, 6708, 4612, 0, 27008, 7218, 32277, 17961, 13895, 79267, 0, 7449, 540, 4549, 78626, 914, 205366, 149329, 701, 11416, 17627, 37520, 763, 47124, 8528, 73655, 2810, 15227, 0, 40170, 5764, 75698, 0, 34180, 266, 4, 2806, 124975, 603, 0, 22669, 17365, 4511, 0, 48536, 9389, 3737, 815, 0, 7957, 165959, 5648, 7518, 3359, 205071, 0, 3467, 58993, 4342, 0, 19214, 3183, 20995, 1986, 2826, 135084, 72425, 1220, 0, 0, 0, 6502, 2757, 305, 330756, 254564, 344840, 17245, 167210, 32, 0, 62608, 1987, 3141, 6002, 412876, 21394, 26203, 15685, 23606, 11127, 3047, 30925, 6945, 16299, 0, 17723, 843, 6878, 1190, 5140, 6582, 36706, 28937, 1857, 8817, 8655, 4463, 1401, 11471, 8403, 295370, 56422, 0, 12220, 0, 0, 591, 0, 7013, 16171, 15389, 6200, 0, 0]

Final Data Frame will look like as below

In [115]:
df=pd.DataFrame(list(zip(country, total_cases1,
new_cases1, 
total_death1,
new_death1,
total_recovered1,
active_cases1,
total_tests1,
population1)), 
                columns=["Country","Total Cases","New Cases","Total Deaths","New Deaths","Total Recovered","Active Cases",
                       "Total Tests","Population"])
df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Total Tests,Population
0,USA,2462713,159,124282,1,1040608,3,376,90831
1,Brazil,1192474,0,53874,0,649908,0,253,12948
2,Russia,613994,7113,8605,92,375164,6342,59,124137
3,India,474272,1287,14914,7,271934,246,11,5480
4,UK,306862,0,43081,0,0,0,635,125842
...,...,...,...,...,...,...,...,...,...
210,Caribbean Netherlands,7,0,0,0,7,0,0,16171
211,St. Barth,6,0,0,0,6,0,0,15389
212,Anguilla,3,0,0,0,3,0,0,6200
213,Saint Pierre Miquelon,1,0,0,0,1,0,0,0
214,China,83449,19,4634,0,78443,15,3,0

In [116]:
df.dtypes

Country            object
Total Cases         int64
New Cases           int64
Total Deaths        int64
New Deaths          int64
Total Recovered     int64
Active Cases        int64
Total Tests         int64
Population          int64
dtype: object

## Data Scraping and Data Cleaning for INDIA data

In [117]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [118]:
url="https://www.mohfw.gov.in/"

In [119]:
response=requests.get(url)
print (response)

<Response [200]>

In [120]:
soup=BeautifulSoup(response.content, "html.parser")

In [121]:
Title = soup.title
print(Title)

<title>MoHFW | Home</title>

Displays Covid status for today

In [122]:
StatusCovidOn = soup.find("div",class_="status-update")
print(StatusCovidOn.text)

COVID-19 INDIA as on : 25	June 2020, 08:00 IST (GMT+5:30)

All Active, cured, Migrated Covid cases India

In [123]:
divs=soup.find("div", class_="site-stats-count")
print (divs.text)

186514
Active Cases



271696
Cured / Discharged
Cured/
Discharged



14894
Deaths



1
Migrated








COVID-19 INDIA as on : 25	June 2020, 08:00 IST (GMT+5:30)

Finding out total tables present on the page

In [124]:
coronatableInd=soup.find_all("table")
len(coronatableInd)

1

Storing table details, as we have only one table and we will be looking into that table having COVID state wise details

In [125]:
co=coronatableInd[0]

In [126]:
state=[]
active_cases=[]
curedDischargedMigrated_cases=[]
deaths=[]
total_confirmed_cases=[]

rows=co.find_all("tr")[1:-6]

for row in rows:
    col=row.find_all("td")
    
    state.append(col[1].text.strip())
    active_cases.append(col[2].text.strip())
    curedDischargedMigrated_cases.append(col[3].text.strip())
    deaths.append(col[4].text.strip())
    total_confirmed_cases.append(col[5].text.strip())
    
print(state,
active_cases,
curedDischargedMigrated_cases, 
deaths,
total_confirmed_cases)

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'] ['13', '5428', '120', '2231', '2039', '91', '780', '90', '26588', '660', '6120', '4897', '332', '2516', '626', '3803', '1693', '666', '2441', '62369', '642', '3', '123', '199', '1612', '276', '1415', '3023', '45', '28839', '5858', '361', '867', '6375', '4880'] ['43', '4779', '38', '3958', '6113', '323', '1627', '30', '41437', '289', '21088', '6925', '466', '3818', '1570', '6151', '1888', '274', '9473', '73792', '328', '42', '19', '148', '4123', '176', '3099', '12611', '39', '37763', '4361', '897', '1721', '12586', '9702'] ['0', '124', '0', '9', '57', '6', '12', '0', '2365', '2', '1735', '188', '8', '88', '11', '164', '22', '1', '534', '6739', '0', '1', '0', '0', '17', '9', '113', '375', '0', '866', '225', '1', '35', '596', '591'] ['56', '10331', '158', '6198', '8209', '420', '2419', '120', '70390', '951', '28943', '12010', '806', '6422', '2207', '10118', '3603', '941', '12448', '142900', '970', '46', '142', '347', '5752', '461', '4627', '16009', '84', '67468', '10444', '1259', '2623', '19557', '15173']

Create dataframe for the statewise data

In [127]:
df=pd.DataFrame(list(zip(state,
active_cases,
curedDischargedMigrated_cases, 
deaths,
total_confirmed_cases)), columns=["State","Active Cases","Cured Discharged Migrated Cases","Deaths","Total Confirmed Cases"])
df

,State,Active Cases,Cured Discharged Migrated Cases,Deaths,Total Confirmed Cases
0,Andaman and Nicobar Islands,13,43,0,56
1,Andhra Pradesh,5428,4779,124,10331
2,Arunachal Pradesh,120,38,0,158
3,Assam,2231,3958,9,6198
4,Bihar,2039,6113,57,8209
5,Chandigarh,91,323,6,420
6,Chhattisgarh,780,1627,12,2419
7,Dadra and Nagar Haveli and Daman and Diu,90,30,0,120
8,Delhi,26588,41437,2365,70390
9,Goa,660,289,2,951
10,Gujarat,6120,21088,1735,28943
11,Haryana,4897,6925,188,12010
12,Himachal Pradesh,332,466,8,806
13,Jammu and Kashmir,2516,3818,88,6422
14,Jharkhand,626,1570,11,2207
15,Karnataka,3803,6151,164,10118
16,Kerala,1693,1888,22,3603
17,Ladakh,666,274,1,941
18,Madhya Pradesh,2441,9473,534,12448
19,Maharashtra,62369,73792,6739,142900
20,Manipur,642,328,0,970
21,Meghalaya,3,42,1,46
22,Mizoram,123,19,0,142
23,Nagaland,199,148,0,347
24,Odisha,1612,4123,17,5752
25,Puducherry,276,176,9,461
26,Punjab,1415,3099,113,4627
27,Rajasthan,3023,12611,375,16009
28,Sikkim,45,39,0,84
29,Tamil Nadu,28839,37763,866,67468
30,Telangana,5858,4361,225,10444
31,Tripura,361,897,1,1259
32,Uttarakhand,867,1721,35,2623
33,Uttar Pradesh,6375,12586,596,19557
34,West Bengal,4880,9702,591,15173

Checking if there are any missing values in above data set.

In [128]:
df.isnull().sum()

State                              0
Active Cases                       0
Cured Discharged Migrated Cases    0
Deaths                             0
Total Confirmed Cases              0
dtype: int64

We do NOT find any missing values in above dataset

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            35 non-null     object
 1   Active Cases                     35 non-null     object
 2   Cured Discharged Migrated Cases  35 non-null     object
 3   Deaths                           35 non-null     object
 4   Total Confirmed Cases            35 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

Final dataset for India data is as below

In [130]:
df

,State,Active Cases,Cured Discharged Migrated Cases,Deaths,Total Confirmed Cases
0,Andaman and Nicobar Islands,13,43,0,56
1,Andhra Pradesh,5428,4779,124,10331
2,Arunachal Pradesh,120,38,0,158
3,Assam,2231,3958,9,6198
4,Bihar,2039,6113,57,8209
5,Chandigarh,91,323,6,420
6,Chhattisgarh,780,1627,12,2419
7,Dadra and Nagar Haveli and Daman and Diu,90,30,0,120
8,Delhi,26588,41437,2365,70390
9,Goa,660,289,2,951
10,Gujarat,6120,21088,1735,28943
11,Haryana,4897,6925,188,12010
12,Himachal Pradesh,332,466,8,806
13,Jammu and Kashmir,2516,3818,88,6422
14,Jharkhand,626,1570,11,2207
15,Karnataka,3803,6151,164,10118
16,Kerala,1693,1888,22,3603
17,Ladakh,666,274,1,941
18,Madhya Pradesh,2441,9473,534,12448
19,Maharashtra,62369,73792,6739,142900
20,Manipur,642,328,0,970
21,Meghalaya,3,42,1,46
22,Mizoram,123,19,0,142
23,Nagaland,199,148,0,347
24,Odisha,1612,4123,17,5752
25,Puducherry,276,176,9,461
26,Punjab,1415,3099,113,4627
27,Rajasthan,3023,12611,375,16009
28,Sikkim,45,39,0,84
29,Tamil Nadu,28839,37763,866,67468
30,Telangana,5858,4361,225,10444
31,Tripura,361,897,1,1259
32,Uttarakhand,867,1721,35,2623
33,Uttar Pradesh,6375,12586,596,19557
34,West Bengal,4880,9702,591,15173

# Q3: Find more data across the internet and write about various features that you’d like to do an analysis upon

###### COVID19 Testing data Set - 
This should cover 
1. How many tests does a country do to find one COVID-19 case?
2. daily number of tests against the daily number of new confirmed cases, per million people.
3. total tests performed relative to the size of population
and many such aspects related to testing of COVID19 cases

###### Mortality Rate dataset-
1. Worldwide
2. Country wise
3. India

###### Sysmptoms -
1. Sysmptom in diferent stages (day wise symptoms)

###### Death Rate-
1. Male death rate
2. Female death rate